.body {
  width: 100%;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
}
